/*Footer*/

.page-footer {
    grid-row-start: 4;
    grid-row-end: 4;
    color: white;
    cursor: default;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.movetheButton {
    position: relative;
    padding: 0 0 0 40%;

}

.ContactButton {
    color: rgb(196, 196, 198);

}


