/*Footer*/
.page-footer {
    color: white;
    cursor: default;
    bottom: 0;
    position: fixed;
    width: 60%;
}

.ContactButton:hover {
    opacity: 100%;
}

.movetheButton {
    position: relative;
    padding: 0 0 0 40%;
    width: 70%;
}
.ContactButton {
    color: rgb(255, 255, 255);
    background-color: #9c9c9c;
    opacity: 0.2;
}
#Errow{
    position: relative;
    right: 50%;
    opacity: 0.5;
}


