/*Footer*/

.page-footer {
    color: white;
    cursor: default;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.movetheButton:hover {
    opacity: 100%;
}

.movetheButton {
    position: relative;
    padding: 0 0 0 40%;
    opacity: 0.2;

}

.ContactButton {
    color: rgb(255, 255, 255);
    background-color: #9c9c9c;
}


