
#backgroundImage{
    background-position: center top;
    opacity: 0.1;
    background-repeat: no-repeat;
    width: 50% !important;
    height: 50% !important;
}

#selfiGrid{
    position: absolute;
    width: 10% !important;
    left:80% !important;
}

#musicContainer {
    width: 2000px;
    height: auto;
}

#cardofSoundcloud {
    background-color: inherit;
    width: 100%;
    height: 1200px;
    border-color: transparent;
}

#mainBorder {
    border-color: transparent;
}

.demo-content {
    padding: 15px;
    font-size: 18px;
    background: #dbdfe5;
    margin-bottom: 15px;
}

#leftRowMusic {
    position: relative;
    bottom: 800px;
}

.padleft {
    padding: 0 0 0 120px;
}

.widenup {
    width: 200px;
}

.playButton {}

.toPad {
    padding: 120px 0 0 0;
}