
body {
    background-color: transparent;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#_ContainerFluid_OfSlides {
    width: auto;
}

.bg-dark {
    width: 50%;
}

#CertificatesClass, #ArbeitClass, #BildungsClass, #SklzUSprechenClass {
    color: white;
}

.media {
    width: 10%;
    height: 150px;
}

.media:active {
    position: fixed;
    width: 140%;
    transition: width 1s ease-out;
    top: 30%;
}
