#cc-slider {
    text-align: center;
    margin: 0 auto;
    max-width: 850px;
    position: relative;
}

#cc-slider input {
    display: none;
}

#cc-slides article img {
    width: 100%;
}

#cc-slides .inner {
    width: 500%;
    line-height: 0;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#cc-slides article {
    width: 20%;
    float: left;
}

#slide1:checked ~ #cc-slides .inner {
    margin-left: 0;
}

#slide2:checked ~ #cc-slides .inner {
    margin-left: -100%;
}

#slide3:checked ~ #cc-slides .inner {
    margin-left: -200%;
}

#slide4:checked ~ #cc-slides .inner {
    margin-left: -300%;
}

#slide5:checked ~ #cc-slides .inner {
    margin-left: -400%;
}

#controls {
    margin: -8% 0 0 84%;
    width: 15%;
    height: 50px;
}

#controls label, a {
    color: #ef023f;
    cursor: pointer;
    text-decoration: none;
}

#controls label {
    display: none;
    width: 50px;
    height: 50px;
}

#controls label:hover {
    color: #ff0042 !important;
}

#controls label:hover {
    opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide3:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(1) {
    float: right;
    display: block;
    background-color: rgba(255, 255, 0, 0.23);
}

#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4),
#slide5:checked ~ #controls label:nth-child(5) {
    float: left;
    display: block;
    background-color: rgba(255, 255, 0, 0.23);
}

#cc-slides .inner {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#cc-slider {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#controls label {
    -webkit-transform: translateZ(0);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

#slide1:checked ~ #cc-slides article:nth-child(1) ,
#slide2:checked ~ #cc-slides article:nth-child(2) ,
#slide3:checked ~ #cc-slides article:nth-child(3) ,
#slide3:checked ~ #cc-slides article:nth-child(5) ,
#slide4:checked ~ #cc-slides article:nth-child(4)  {
    opacity: 1;
    -webkit-transition: all 1s ease-out 0.6s;
    -moz-transition: all 1s ease-out 0.6s;
    -o-transition: all 1s ease-out 0.6s;
    transition: all 1s ease-out 0.6s;
}